.nav {
    grid-area: n;
    background-color: #ffffff;
    padding: 40px 0;
}

.itemContainer {
    height: 30px;
    width: 99%;
    font-size: 17px;
    padding: 2px 0;
}

.item {
    display: flex;
    justify-content: center;
}

.item a{
    color: black;
    text-decoration: none;
}
.item a.active{
    color: #2a5885;
}