.discriptonBlock {
    padding: 15px;
}

.container {
    display: flex;
}

.image {
    border: 1px solid black;
    height: 200px;
    width: 100%;
    background-image: url("https://www.zastavki.com/pictures/originals/2014/Nature___Rivers_and_lakes_Amazingly_beautiful_mountain_lake_083573_.jpg");
    background-size: cover;
}

.containerDS {
    padding: 30px 0;
    height: 200px;
    width: 100%;
    display: flex;
    flex-direction: row;
}

.userPhoto {
    border: 2px solid black;
    border-radius: 10px;
    height: 250px;
    width: 250px;
    overflow: hidden;
}

.userPhoto img {
    height: 100%;
    width: 100%;
}

.discription {
   
    height: 100px;
    width: 300px;
}

