.discriptonBlock {
    padding: 10px;
}

.container {
    border: 1px solid black;
    padding: 10px ;
    display: flex;
}

.image {
    border: 1px solid black;
}

.photo {
    height: 200px;
    width: 200px;
    border: 5px solid gray;
    border-radius: 10px;
    background-image: url("https://sun9-65.userapi.com/c855224/v855224266/1ead22/j0xxrYB8JRo.jpg");
    background-size: cover;
}

