.dialogs {
    display: grid;
    grid-template-columns: 2fr 10fr;
}

.dialogsItem {
    padding: 10px;
    color: black;
}

.dialogsItem .active {
    color: gold;
}

.messages {
    padding: 10px;
}

.messages .message {
    color: black;
}

textarea {
    min-height: 100px;
    min-width: 400px;
}